p Login

form(action="/login" id="form-login" method="POST")
	label Login
	input(name="login" value="admin" id="input-login")
	label Password 
	input(name="password" type="password" id="input-password" value="123")
	input(type="submit" value="login")


//- script(src="js/login.js") 