include header

div(class="wrap")
	div(class="content")
		header(class="site-header")
			include site-header
		div(class="container")
			div(class="row")
				each val, index in goods
					include card-item

	include nav
	include footer